{% extends 'layouts/app.html' %}

{% block description %}Register{% endblock %}

{% from 'macros/validation-macro.html' import form_field %}

{% block content %}
    <div class="row justify-content-center mx-auto mt-4">
        <div class="col-md-5">
            <form class="needs-validation" method="POST" action="{{ url_for('register') }}" enctype="multipart/form-data">
                {{ form_field(form.username) }}
                {{ form_field(form.password) }}
                {{ form_field(form.confirm_password) }}
                {{ form_field(form.avatar) }}

                {{ form_field(form.submit) }}

                {{ form.hidden_tag() }}
                {{ form.csrf_token }}
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(() => {
            $('#register').addClass('active');
        });
    </script>
{% endblock %}