{% extends 'layouts/app.html' %}

{% block description %}Category {{ category.name }}{% endblock %}

{% from "macros/pagination-macro.html" import render_pagination %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <a href="{{ url_for('blog.category.edit', category_id=category.id) }}" class="btn btn-primary mt-4">Edit</a>
            <a href="{{ url_for('blog.category.delete', category_id=category.id) }}" class="btn btn-danger mt-4">Delete</a>

            <h1 class="my-4">{{ title }}
                <small>Blog</small>
            </h1>

            <h4 class="mb-5">You're viewing all posts under the {{ category.name }} category.</h4>

            {% if not posts.items|length %}
                <h1 class="display-4 nice-message">There are no posts as of the moment.</h1>
            {% else %}
                {% for post in posts.items %}
                    {% include 'partials/post-card.html' %}
                {% endfor %}

                {{ render_pagination(posts, simple=True) }}
            {% endif %}
        </div>

        {% include 'partials/sidebar.html' %}
    </div>
{% endblock %}