{% extends 'layouts/app.html' %}

{% block description %}Create a Post{% endblock %}

{% from 'macros/validation-macro.html' import form_field %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-8 my-4">
            <div class="card">
                <h5 class="card-header">Create a Post</h5>

                <div class="card-body">
                    <form action="{{ url_for('blog.post.create') }}" method="POST" class="needs-validation">
                        {{ form_field(form.title) }}

                        <div class="form-group">
                            <label for="category">Category</label>
                            <select name="category" class="form-control" id="category">
                                {% for category in categories() %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        {{ form_field(form.post_content) }}
                        {{ form_field(form.submit) }}
                        {{ form.csrf_token }}
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $('#post_content').summernote({
            placeholder: 'Create your post',
            tabsize: 2,
            height: 200,
            popover: {
                image: [
                    ['image', ['resizeFull', 'resizeHalf', 'resizeQuarter', 'resizeNone']],
                    ['float', ['floatLeft', 'floatRight', 'floatNone']],
                    ['remove', ['removeMedia']]
                ],
            },
            toolbar: [
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['font', ['strikethrough']],
                ['fontsize', ['fontsize']],
                ['para', ['ul', 'ol']],
                ['height', ['height']],
                ['view', ['fullscreen']],
                ['picture'],
                ['attachment']
            ]
        }, 'code')
    </script>
{% endblock %}