{% extends 'layouts/app.html' %}

{% block description %}Search results for {{ query }}{% endblock %}

{% from 'macros/pagination-macro.html' import render_pagination %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <h2 class="my-4">Search results for <small>{{ query }}</small></h2>

            <hr/>

            {% if not posts.items|length %}
                <h1 class="display-4 nice-message">No search results found for {{ query }}.</h1>
            {% else %}
                {% for post in posts.items %}
                    {% include 'partials/post-card.html' %}
                {% endfor %}

                {{ render_pagination(posts, {'query': query}, simple=True) }}
            {% endif %}
        </div>

        {% include 'partials/sidebar.html' %}
    </div>
{% endblock %}