{% extends 'layouts/app.html' %}
{% block description %}Post {{ post.id }}{% endblock %}

{% from 'macros/pagination-macro.html' import render_pagination %}

{% block content %}
    <div class="row">
        <div class="col-lg-8">

            <h1 class="mt-2">{{ post.title }}</h1>
            <p class="lead">
                by
                <a href="{{ url_for('profile', username=post.user.username) }}">{{ post.user.username }}</a>
        n    </p>

            <p>Posted {{ post.posted_at|humanize }}</p>

            <a href="{{ url_for('blog.post.edit', post_id=post.id) }}" class="btn btn-primary">Edit</a>
            <a href="{{ url_for('blog.post.delete', post_id=post.id) }}" class="btn btn-danger">Delete</a>

            <hr>

            <p class="text-break">{{ post.content|safe }}</p>

            <hr>

            {% if not session.get('user_id') %}
                <h3 class="my-4 mb-5">
                    You must be <a href="{{ url_for('login') }}">signed in</a> to leave a comment.
                </h3>
            {% else %}
                <div class="card my-4">
                    <h5 class="card-header">Leave a Comment:</h5>
                    <div class="card-body">
                        <form action="{{ url_for('blog.post.comment', post_id=post.id) }}" method="POST">
                            <div class="form-group">
                                <textarea id="comment" name="comment" class="form-control" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            {% endif %}

            {% for comment in comments.items %}
                <div class="media mb-4">
                    <img class="d-flex mr-3 rounded-circle" width="100" height="100"
                         src="{{ base_url }}/images/avatars/{{ comment.user.avatar }}" alt="">
                    <div class="media-body">
                        <h5 class="mt-0">{{ comment.user.username }} <small
                                class="small">{{ comment.posted_at|humanize }}</small></h5>
                        {{ comment.comment|safe }}
                    </div>
                </div>
            {% endfor %}

            {{ render_pagination(comments, simple=False) }}
        </div>

        {% include 'partials/sidebar.html' %}
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $('#comment').summernote({
            placeholder: 'Write your comment',
            tabsize: 2,
            height: 150,
            popover: {
                image: [
                    ['image', ['resizeFull', 'resizeHalf', 'resizeQuarter', 'resizeNone']],
                    ['float', ['floatLeft', 'floatRight', 'floatNone']],
                    ['remove', ['removeMedia']]
                ],
            },
            toolbar: [
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['font', ['strikethrough']],
                ['fontsize', ['fontsize']],
                ['para', ['ul', 'ol']],
                ['height', ['height']],
                ['view', ['fullscreen']],
                ['picture'],
                ['attachment']
            ]
        }, 'code');
    </script>
{% endblock %}